<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
<h1>Admin panel</h1><br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Balance</th>
        <th>Role</th>
        <th>Date of Registration</th>
        <th>Delete</th>
    </tr>
    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getName()}"></td>
    <td th:text="${user.getEmail()}"></td>
    <td th:text="${user.getBalance()}"></td>
    <td th:text="${user.getRole()}"></td>
    <td th:text="${user.getDateOfRegistration()}"></td>
    <td><form th:action="@{'/admin/delete/' + ${user.getId()}}" method="post">
        <input type="submit" value="Delete">
    </form></td>
    </thead>
</table>
</body>
</html>