<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Communities</title>
</head>
<body>
<h1>Communities</h1><br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Subs count</th>
        <th>Look</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${comms.empty}">
        <td colspan="2">No one community found.</td>
    </tr>
    <tr th:each="c : ${comms}">
        <td><span th:text="${c.getId()}">Id</span></td>
        <td><span th:text="${c.getName()}">Name</span></td>
        <td><span th:text="${c.getSubscribers().size()}">Subs count</span></td>
        <td><form th:action="@{/main/community/{id}(id=${c.getId()})}" method="get">
            <input type="submit" value="Look">
        </form></td>
    </tr>
    </tbody>
</table>
</body>
</html>