<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banned</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Date</th>
        <th>Reason</th>
        <th>Unban</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${banned.isEmpty()}">
        <td colspan="2">No one banned users.</td>
    </tr>
    <tr th:each="u : ${banned}">
        <td><span th:text="${u.getId()}">Id</span></td>
        <td><span th:text="${u.getName()}">Name</span></td>
        <td><span th:text="${u.getSurname()}">Surname</span></td>
        <td><span th:text="${u.getBanHistory().keySet().toArray()[u.getBanHistory().size()-1]}">Date</span></td>
        <td><span th:text="${u.getBanHistory().values().toArray()[u.getBanHistory().size()-1]}">Reason</span></td>
        <td><form th:action="@{/admin/unban/{id}(id=${u.getId()})}" method="post">
            <input type="submit" value="Unban">
        </form></td>
    </tr>
    </tbody>
</table>
</body>
</body>
</html>