<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<h1>Change your password</h1><br>
<form th:action="@{/main/changePassword}" th:object="${password}" method="post">
    Enter your new password: <input type="text" th:field="*{newPassword}"/><br>
    Enter your real password, for confidentiality: <input type="text" th:field="*{confirmPassword}"/><br>
    <input type="submit" value="Change"/>
</form>
</body>
</html>