<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<h1 th:text="${user.getName() + ' ' + user.getSurname()}"/><br>

<table style="border: 2px solid #000000; border-collapse: collapse">
    <thead>
    <tr>
        <th>Message</th>
        <th>Agree</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${messages.empty}">
        <td colspan="2">You have not any messages from this user.</td>
    </tr>
    <tr th:each="m : ${messages}">
        <td><span th:text="${m}"></span></td>
        <div th:if="${m.equals('Wants to be your friend.')}">
            <td>
                <form th:action="@{/main/friendship/accept/{id}(id=${user.id})}" method="post">
                    <input type="submit" value="Accept">
                </form>
            </td>
        </div>
    </tr>
    </tbody>
</table>
</body>
</html>