<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose a community to invite</title>
</head>
<body>
<h1>Choose a community to invite</h1><br>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Invite</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${userComms}">
        <td><span th:span="${c.getName()}"/></td>
        <td><form th:action="@{/main/community/invite/{id}(id=${userId})/{commId}(commId=${c.getId()})}" method="post">
            <input type="submit" value="Invite">
        </form></td>
    </tr>
    </tbody>
</table>
</body>
</html>