<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News Reports</title>
</head>
<body>
<h1>News reports</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Theme</th>
        <th>Description</th>
        <th>Report count</th>
        <th>Delete news</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${list.isEmpty()}">
        <td colspan="2">There is no appealed news</td>
    </tr>
    <tr th:each="n : ${list}">
        <td><span th:text="${n.id}">Id</span></td>
        <td><span th:text="${n.theme}">Theme</span></td>
        <td><span th:text="${n.description}">Description</span></td>
        <td><span th:text="${n.listOfReports.size()}">Report count</span></td>
        <td><form th:action="@{/admin/delete/{id}(id=${n.id})}" method="post">
            <input type="submit" value="Delete">
        </form></td>
    </tr>
    </tbody>
</table>
</body>
</html>