<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
<h1>Comments</h1><br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Profile</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${news.empty}">
        <td colspan="2">This news have not any comments.</td>
    </tr>
    <tr th:each="n : ${news}">
        <td><span th:text="${n.key.id}">Id</span></td>
        <td><span th:text="${n.key.name}">Name</span></td>
        <td><span th:text="${n.key.surname}">Surname</span></td>
        <td>
            <form th:action="@{/main/profile/{id}(id=${n.key.id})}" method="get">
                <input type="submit" value="Profile">
            </form>
        </td>
        <td><span th:text="${n.value}">Comment</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>