<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<h1>Result</h1><br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Add</th>
        <th>Profile</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="2">No users available</td>
    </tr>
    <tr th:each="u : ${users}">
        <td><span th:text="${u.id}">Id</span></td>
        <td><span th:text="${u.name}">Name</span></td>
        <td><span th:text="${u.surname}">Surname</span></td>
        <td>
            <form th:action="@{/main/add/{id}(id=${u.id})}" method="get">
                <input type="submit" value="Add">
            </form>
        </td>
        <td>
            <form th:action="@{/main/profile/{id}(id=${u.getId()})}" method="get">
                <input type="submit" value="Profile">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>