<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h1>Update data</h1>
<form th:action="@{/main/update}" method="post" th:object="${update}">
    Name: <input th:field="*{name}" type="text" name="name" id="name"><br>
    Surname: <input th:field="*{surname}" type="text" name="surname" id="surname"><br>
    Status: <input th:field="*{status}" type="text" name="status" id="status"><br>
    Email: <input th:field="*{email}" type="text" name="email" id="email"><br>
    Age: <input th:field="*{age}" type="text" name="age" id="age"><br>
    City: <input th:field="*{city}" type="text" name="city" id="city"><br>
    Country: <input th:field="*{country}" type="text" name="country" id="country"><br>
    Close profile(Only your friends will can see your profile): <input type="checkbox" value="close" name="close" th:field="*{closeProfile}">
    <input type="submit" value="Update">
</form>
</body>
</html>