<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
</head>
<body>
<h1>Users reports</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Report count</th>
        <th>Delete news</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${userReports.isEmpty()}">
        <td colspan="2">There is no appealed users</td>
    </tr>
    <tr th:each="u : ${userReports}">
        <td><span th:text="${u.getId()}">Id</span></td>
        <td><span th:text="${u.getName()}">Name</span></td>
        <td><span th:text="${u.getSurname()}">Surname</span></td>
        <td><span th:text="${u.getListOfReports().size()}">Report count</span></td>
        <td><form th:action="@{/admin/ban/{id}(id=${u.getId()})}" method="get">
            <input type="submit" value="Ban">
        </form></td>
    </tr>
    </tbody>
</table>
</body>
</html>